<%= form_for(travel) do |f| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :cars_count %><br>
    <%= f.number_field :cars_count %>
  </div>
  <div class="field">
    <%= f.label :travel_distance %> (km)<br>
    <%= f.number_field :travel_distance %>
  </div>
  <div class="field">
    <%= f.label :travel_date %><br>
    <%= f.date_select :travel_date %>
  </div>

  <div class="field">
    <%= f.label :players %><br>
    <%= f.select :players, players.map {|p| [ p.name+" "+p.surname, p.id ] },
                                           { :prompt => "Please select players" },
                                           { :multiple => true, :size => 5, include_blank: 'None' } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
