<%= form_for(travel_ticket) do |f| %>
  <% if travel_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_ticket.errors.count, "error") %> prohibited this travel_ticket from being saved:</h2>

      <ul>
      <% travel_ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_img %><br>
    <%= f.file_field :ticket_img %>
  </div>
  <div class="field">
    <%= f.label :ticket_sum %><br>
    <%= f.number_field :ticket_sum %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :ticket_player %><br>
  <%= f.select :player_id, options_for_select(@players.collect { |player|
    [player.name+" "+player.surname, player.id] }, 1), {}, { id: 'players_select' } %>

  </div>
  <div class="field">
    <%= f.label :ticket_travel %><br>
    <%= f.select :travel_id, options_for_select(@travels.collect { |travel|
    [travel.destination+" "+travel.travel_date.inspect, travel.id] }, 0), {}, { id: 'travels_select' } %>
<br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <% if params[:controller] == "travel_tickets" && params[:action] == "edit" %>
       <%= image_tag travel_ticket.ticket_img, :size => "150x150" %>
  <% end %>
<% end %>
