<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_amount %><br>
    <%= f.number_field :payment_amount %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :payment_travel %><br>
    <%= f.select :travel_id, travels.map {|travel| [ travel.destination+" "+travel.travel_date.inspect, travel.id ] },
                                          { :prompt => "Please select travel" },
                                          { :multiple => false, :size => 1 } %>
  </div>
  <div class="field">
    <%= f.label :payment_player %><br>
    <%= f.select :player_id, players.map {|player| [ player.name+" "+player.surname, player.id ] },
                                          { :prompt => "Please select player" },
                                          { :multiple => false, :size => 1 } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
